[user]
	email = kanibalv@gmail.com
	name = kanibalv
[core]
	editor = vim
[alias]
	stats = shortlog -ssn --all --no-merges
	co = checkout
	br = branch
	ci = commit
    cm = commit -a
	st = status
    graph = log --graph --oneline --decorate=short --branches='*'
[color]
  ui = auto
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  header = white
  branch = yellow bold
  added = yellow
  changed = red
  untracked = red bold
[sendemail]
    smtpserver  = smtp.gmail.com
    smtpserverport = 587
    smtpencryption  = tls
    smtpuser = 
    smtppass = 
