# set a shell
SHELL=/bin/bash

# crontab format
* * * * *  command_to_execute
- - - - -
| | | | |
| | | | +- day of week (0 - 7) (where sunday is 0 and 7)
| | | +--- month (1 - 12)
| | +----- day (1 - 31)
| +------- hour (0 - 23)
+--------- minute (0 - 59)

# example entries
0 * * * * /home/user/command.sh    # every hour 
*/15 * * * * /home/user/command.sh # every 15 min
0 0 * * * /home/user/command.sh    # every midnight
5 8 * * 6 /home/user/command.sh    # every Saturday at 8:05 AM
@hourly /home/user/command.sh      # every hour  
@daily  /home/user/command.sh      # every day 
@weekly /home/user/command.sh      # every week
@monthly /home/user/command.sh     # every month
@yearly  /home/user/command.sh     # every year
@reboot /home/user/command.sh      # every reboot


crontab file [-u user] # Replace crontab from file
crontab - [-u user]    # Replace crontab from stdin
crontab -l [user]      # List crontab for user
crontab -e [user]      # Edit crontab for user
crontab -d [user]      # Delete crontab for user
crontab -c dir         # Specify crontab directory

